doctype html
html
  head
    meta charset="utf-8"
    meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"
    meta content="width=device-width, initial-scale=1" name="viewport"
    meta name="description" content="Sam Markiewicz, webdesign, front-end developement, html, css, app, sass, compass "
    link rel="apple-touch-icon" sizes="57x57" href="images/favicons/apple-touch-icon-57x57.png"
    link rel="apple-touch-icon" sizes="114x114" href="images/favicons/apple-touch-icon-114x114.png"
    link rel="apple-touch-icon" sizes="72x72" href="images/favicons/apple-touch-icon-72x72.png"
    link rel="apple-touch-icon" sizes="144x144" href="images/favicons/apple-touch-icon-144x144.png"
    link rel="apple-touch-icon" sizes="60x60" href="images/favicons/apple-touch-icon-60x60.png"
    link rel="apple-touch-icon" sizes="120x120" href="images/favicons/apple-touch-icon-120x120.png"
    link rel="apple-touch-icon" sizes="76x76" href="images/favicons/apple-touch-icon-76x76.png"
    link rel="apple-touch-icon" sizes="152x152" href="images/favicons/apple-touch-icon-152x152.png"
    link rel="apple-touch-icon" sizes="180x180" href="images/favicons/apple-touch-icon-180x180.png"
    link rel="icon" type="image/png" href="images/favicons/favicon-192x192.png" sizes="192x192"
    link rel="icon" type="image/png" href="images/favicons/favicon-160x160.png" sizes="160x160"
    link rel="icon" type="image/png" href="images/favicons/favicon-96x96.png" sizes="96x96"
    link rel="icon" type="image/png" href="images/favicons/favicon-16x16.png" sizes="16x16"
    link rel="icon" type="image/png" href="images/favicons/favicon-32x32.png" sizes="32x32"
    meta name="msapplication-TileColor" content="#da532c"
    meta name="msapplication-TileImage" content="images/favicons/mstile-144x144.png"
    title
      'Sam Markiewicz - Webdesign, Front-end developement
    link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"
    link href="css/style.css" rel="stylesheet"
  body
    div.container
      section.header
        header.block role="banner"
          a href="/" class="logo"
            'Sam Markiewicz

        nav.block
          ul
            li
              a href="http://sammarkiewi.cz" target="_blank"
                'See me naked !
            li
              a href="http://fr.linkedin.com/in/sammarkiewicz/" target="_blank"
                'Information

      section class="introduction"
        article.block
          div
            h2
              'Portfolio of
              br
              'Sam Markiewicz
            p
              'I craft things for the internet.
              br
              'I love design, code &amp; humans.

      section class="works"
        article.block.thumb__egg
        article.block.home__project-details
          div
            h3
              'E:GG - A simple egg timer
            p
              'E:GG is a simple android app that was designed to help you cook your eggs easily &amp; perfectly.
            a.button href="/egg.html"
              'View the project
      section class="works odd"
        article.block.thumb__sarthe
        article.block.home__project-details
          div
            h3
              'Sarthe Développement
            p
              'Redesigning Sarthe's website dedicated to local economy.
            a.button href="/sarthe-developement.html"
              'View the project
      section class="works"
        article.block.thumb__nebber
        article.block.home__project-details
          div
            h3
              'Nebber
            p
              'Cute illustrations done to illuminate a one-page.
            a.button href="/nebber.html"
              'View the project
      footer
        div
          ul
            li.block.link__twitter
              a href="https://twitter.com/sammarkz" target="_blank"
                i class="fa fa-twitter"
            li.block.link__git-hub
              a href="https://github.com/SamMarkiewicz" target="_blank"
                i class="fa fa-github"
            li.block.link__instagram
              a href="http://instagram.com/sammarkiewicz" target="_blank"
                i class="fa fa-instagram"
            li.block.link__codepen
              a href="https://dribbble.com/sammarkiewicz" target="_blank"
                i class="fa fa-dribbble"
        aside
          p
            'Sam Markiewicz - 2014
            br
            'Sam Markiewicz is a webdesigner, front-end developer based in Lille, France.
            br
            'He currently writes something about The The.

    script
      | (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      | (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      | m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      | })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      | ga('create', 'UA-57273018-1', 'auto');
      | ga('send', 'pageview');
